*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Georgia, serif;
}

body{
background:#e8ddc9;
text-align:center;
color:#24353f;
}


/* HERO */

.hero{
position:relative;
height:720px;
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
}

.overlay{
position:absolute;
inset:0;
background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.1));
}

.hero-content{
position:relative;
color:white;
}

.logo{
width:320px;
margin-bottom:20px;
}

.hero h2{
font-size:28px;
margin-bottom:30px;
}


/* BUTTON */

.cta{
display:inline-block;
padding:16px 28px;
background:#2e4a59;
color:white;
border-radius:10px;
text-decoration:none;
font-weight:bold;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}


/* PRODUCTS */

.products{
padding:70px 20px;
background:#efe6d5;
}

.products h1{
font-size:48px;
margin-bottom:10px;
}

.sub{
font-size:18px;
margin-bottom:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
max-width:1100px;
margin:auto;
}

.card{
background:white;
padding:15px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.card img{
width:100%;
height:260px;
object-fit:contain;
}

.card h3{
margin:10px 0 5px;
font-size:20px;
}


/* LOCATOR */

.locator{
padding:60px;
background:#d9cbb1;
}

.locator input{
padding:12px;
font-size:16px;
width:250px;
margin-right:10px;
}

.locator button{
padding:12px 18px;
background:#2e4a59;
color:white;
border:none;
}


/* FOOTER */

footer{
padding:20px;
background:#1d2a31;
color:white;
margin-top:40px;
}


/* MOBILE */

@media(max-width:900px){
.grid{
grid-template-columns:repeat(2,1fr);
}
.logo{
width:220px;
}
}

@media(max-width:500px){
.grid{
grid-template-columns:1fr;
}
.hero{
height:600px;
}
}
